<header class="navbar">
  <a
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
    class="nav-link"
    >Home</a
  >
  <a
    routerLink="login"
    *ngIf="!isLogin"
    routerLinkActive="active"
    class="nav-link"
    >Login</a
  >
  <a
    routerLink="register"
    *ngIf="!isLogin"
    routerLinkActive="active"
    class="nav-link"
    >Create new account</a
  >
  <a routerLink="cart" routerLinkActive="active" class="nav-link">Cart</a>
  <a
    routerLink="admin"
    routerLinkActive="active"
    *ngIf="isAdmin"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-link"
    >Add Product</a
  >
  <a
    [routerLink]="['admin', 'manage-products']"
    routerLinkActive="active"
    class="nav-link"
    *ngIf="isAdmin"
    >Product List</a
  >
  <button (click)="logOut()" class="logout-button" *ngIf="isLogin">
    Logout
  </button>
</header>
