li {
  margin: 15px;
  padding: 5px 10px;
  border: 1px solid black;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid lightcoral;
  background-color: transparent;
}
